// Our Services
section.section-md.bg-default.text-center#services
  .container
    h4.heading-decorated Our Services
    .row.row-50.justify-content-md-center.justify-content-lg-start
      .col-md-6.col-xl-4
        // Blurb circle
        article.blurb.blurb-minimal: .unit.flex-row.unit-spacing-md
          .unit-left
            .blurb-minimal__icon: span.icon.linear-icon-pencil-ruler
          .unit-body
            p.blurb__title.heading-6: a(href=singleService) PRE-CONSTRUCTION SERVICES
            p We take our time on initial planning before any construction begins, to balance all the financial and efficiency issues beforehand...

      .col-md-6.col-xl-4
        // Blurb circle
        article.blurb.blurb-minimal: .unit.flex-row.unit-spacing-md
          .unit-left
            .blurb-minimal__icon: span.icon.linear-icon-users
          .unit-body
            p.blurb__title.heading-6: a(href=singleService) GENERAL CONTRACTING
            p We have a long list of professional contractors, whom our engineers and architects enjoy to work with on a majority of our projects!

      .col-md-6.col-xl-4
        // Blurb circle
        article.blurb.blurb-minimal: .unit.flex-row.unit-spacing-md
          .unit-left
            .blurb-minimal__icon: span.icon.linear-icon-wall
          .unit-body
            p.blurb__title.heading-6: a(href=singleService) CONSTRUCTION SERVICES
            p Our customers love the pace/quality tempo that we show during each of the principal construction processes!

      .col-md-6.col-xl-4
        // Blurb circle
        article.blurb.blurb-minimal: .unit.flex-row.unit-spacing-md
          .unit-left
            .blurb-minimal__icon: span.icon.linear-icon-apartment
          .unit-body
            p.blurb__title.heading-6: a(href=singleService) CONSTRUCTION MANAGEMENT
            p Construction project management is essential. We're using the most time and iterations efficient life cycles methods for that.

      .col-md-6.col-xl-4
        // Blurb circle
        article.blurb.blurb-minimal: .unit.flex-row.unit-spacing-md
          .unit-left
            .blurb-minimal__icon: span.icon.linear-icon-home4
          .unit-body
            p.blurb__title.heading-6: a(href=singleService) BUILDING INFORMATION MODELING (BIM)
            p Oftentimes physical and functional essence of any construction project needs to be represented digitally, in a 3D model format.

      .col-md-6.col-xl-4
        // Blurb circle 
        article.blurb.blurb-minimal: .unit.flex-row.unit-spacing-md
          .unit-left
            .blurb-minimal__icon: span.icon.linear-icon-pencil-ruler2
          .unit-body
            p.blurb__title.heading-6: a(href=singleService) DESIGN-BUILD
            p If a project is not too complex, we may hire a designer-builder type of contractor, to make the longevity of the construction shorter.

      .col-md-6.col-lg-4
        // Blurb minimal
        article.blurb.blurb-minimal: .unit.flex-row.unit-spacing-md
          .unit-left
            .blurb-minimal__icon: span.icon.linear-icon-magic-wand
          .unit-body
            p.blurb__title.heading-6: a(href=singleService) COST CONTAINMENT
            p It is vital for any contractor not to exceed the budget and that is why we pay utmost attention to cost containment.

      .col-md-6.col-lg-4
        // Blurb minimal
        article.blurb.blurb-minimal: .unit.flex-row.unit-spacing-md
          .unit-left
            .blurb-minimal__icon: span.icon.linear-icon-menu3
          .unit-body
            p.blurb__title.heading-6: a(href=singleService) QUALITY ASSURANCE
            p Every project we work on is checked for quality assurance to satisfy the needs of the modern society.

      .col-md-6.col-lg-4
        // Blurb minimal
        article.blurb.blurb-minimal: .unit.flex-row.unit-spacing-md
          .unit-left 
            .blurb-minimal__icon: span.icon.linear-icon-users2
          .unit-body
            p.blurb__title.heading-6: a(href=singleService) EQUIPMENT INSTALLATION
            p Our professional team can install all kinds of equipment in the finished building as a part of post-construction services.
='\n'